@use '../abstracts/mixin';
@use '../abstracts/variables' as var;

.board {
  margin: 110px auto 10px;
  width: 375px;
  height: 425px;

  font-size: 3rem;
  font-weight: 700;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

.box {
  border: 1px solid var.$color-dark-4;
  background-color: transparent;
  color: white;

  @include mixin.flex-box(row);
}