@use '../abstracts/mixin';
@use '../abstracts/variables' as var;

footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 80px;

  @include mixin.flex-box(row);
  align-items: flex-end;

  .navbar {
    font-size: 1.5rem;
    margin-bottom: 0;

    @include mixin.flex-box(row);
    align-items: flex-end;
    gap: 3rem;

    .info {
      margin-bottom: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .new {
      border-radius: 50%;
      background-color: var.$color-dark-3;
      padding-block: 20px;
      padding-inline: 25px;

      box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 12px;

      &:hover {
        background-color: var.$color-dark-4;
        cursor: pointer;
      }
    }

    .share {
      margin-bottom: 13px;
      font-size: 22px;

      &:hover {
        cursor: pointer;
      }

      .share-dropdown {
        opacity: 1;
        position: absolute;
        bottom: 0;

        transition: all .3s ease-in-out;

        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-inline: 1rem;
        margin-left: 40px;
        margin-bottom: 3px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;

        font-size: 1rem;

        display: flex;
        gap: 1rem;
      }

      .hide-dropdown {
        opacity: 0;
        margin-left: 10px;
        transition: all .3s ease-in-out;
      }
    }

    .fake-bg {
      position: fixed;
      bottom: 0;
      z-index: -1;

      background-color: var.$color-dark-2;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      width: 100%;
      height: 60px;

      box-shadow: rgba(0, 0, 0, 0.45) 0px -20px 20px -10px;
    }
  }
}