@use '../abstracts/mixin';
@use '../abstracts/variables' as var;

.keypads {
  margin: 30px auto;
  width: 400px;

  @include mixin.flex-box(column);
  gap: 5px;

  .row-one, .row-two, .row-three {
    @include mixin.flex-box(row);
    gap: 5px;

    .key {
      padding: 10px;
      background-color: var.$color-dark-5;
      border-radius: 5px;

      font-size: 1.5rem;
      font-weight: 400;
      color: var.$color-white-1;

      &:hover {
        background-color: var.$color-dark-4;
        cursor: pointer;
      }
    }
  }

  .row-three {
    .enter {
      font-size: 1rem;
      padding-bottom: 20px;
    }
  }
}
.objection {
  margin: auto;
  margin-bottom: 75px;
  width: 400px;

  text-align: center;
}