@use '../abstracts/variables' as var;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: var.$color-dark-1;
  font-family: var.$font-family;
  color: var.$color-white-1;
  padding: 0;
  margin: 0;
}
main {
  position: relative;
  width: 500px;
  margin: 100px auto;

  @media screen and (max-width: 500px) {
    width: 100%;
    margin: 100px 0;
  }
}